$fontTitle :  'Playfair Display', serif;
$handWritten: 'Give You Glory', cursive;
$fontText: 'Heebo', sans-serif;
$tituloMovil: 1.5rem;

$blanco: #fff;
$orange: #FF5733;
$darkGrey: #6B6B6B;



body{
background-color: #FBFBFB;
}

#cabecera{
	background-image: url(../img/sunset.jpg);
	background-size: cover;
	background-position: 10% 40%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	nav{
		width: 100%;
		margin-top: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		h5{
			font-family: $handWritten;
			font-size: 1.5rem;
			margin: 0;
			padding-left: 1rem;
			padding-top: 1.25rem;
			color: #fff;
		}

		ul{
			display: none;
			font-family: $fontText;
		}

		i{
			color: #fff;
			padding: 1rem 1rem 0 0;
		}
	}

	.container{
		min-height: 90vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h3{
			margin: 0;
			font-family: $fontText;
			font-size: .7rem;
			color: #ffff66;
			letter-spacing: .2rem;
		}

		h1{
			margin: .5rem 0;
			font-family: $fontTitle;
			font-size: 4rem;
			color: #fff;
		}

		button{
			margin: 2rem 0 0 0;
			font-family: $fontText;
			font-size: .8rem;
			min-width: 150px;
			color: #fff;
			padding: 1rem 2rem;
			border: 1px solid white;
			background-color: transparent;
			cursor: pointer;
			outline:none;
			-webkit-transition: all ease-out 1s;
		    -moz-transition: all ease-out 1s;
		    -o-transition: all ease-out 1s;
		    transition: all ease-out 1s;
		}

		button:hover{
			background-color: #fff;
			color: $orange;
			font-weight: 700;
		}
	}
}

#tours{
	padding-bottom: 2rem;

	#imageBox{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 4rem 0 2rem;

		h3{
			font-family: $fontTitle;
			font-size: 2rem;
			padding-bottom: 1rem;
		}

		.container{
			width: 90%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			img{
				width: 80%;
				border-radius: 1.5%;
			}

			#pic1{

			}

			#pic2, #pic3{
				display: none;
			}

			i{
				margin: 0 auto;
				color: $orange;
				cursor: pointer;
			}

			#arrowLeft{
				padding-right: 10px;
			}

			#arrowRight{
				padding-left: 10px;
			}
		}
	}


	#textBox{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		witdh: 90%;

		.container{
			width: 70%;

			h5{
				font-family: $fontTitle;
				font-size: 1.2rem;
				margin: .3rem 0;
			}

			ul{
				padding-left: 0;
				margin-bottom: 3rem;

				i{
					color: $orange;
				}

				li{
					font-family: $fontText;
					font-size: 1rem;
					list-style: none;
					line-height: 1.6rem;
					padding: .3rem 0;
					color: $darkGrey;
				}
			}
		}
	}
}

#discover{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	#tituloBox{
		max-width: 68%;

		h3{
			font-family: $fontTitle;
			font-size: 1.5rem;
			line-height: 1.9rem;
		}
	}

	.container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 68%;

		#textBox1{

			p{
				font-family: $fontText;
				font-size: .9rem;
				line-height: 1.4rem;
				color: $darkGrey;
			}
		}

		#textBox2{

			p{
				font-family: $fontText;
				font-size: .9rem;
				line-height: 1.4rem;
				color: $darkGrey;
			}
		}
	}

	#gallery{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 4rem;

		.container{

			max-width: 68%;

			img{
				max-width: 100%;
				padding: 1rem 0;
			}
		}
	}
}

#customers{
	
	background-image: url("../img/map.jpg");
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem 0;
	margin-top: 1.2rem;

	.container{
		max-width: 68%;

		h3{
			font-family: $fontTitle;
			font-size: 1.5rem;
			color: #252525;
			letter-spacing: 1px;
		}

		i{
			color: $orange;
		}

		#textContainer{
			p{
				font-family: $fontText;
				font-size: .9rem;
				line-height: 1.4rem;
			}

			#customerID{
				padding-top: .4rem;
				font-family: $fontText;
				font-size: .8rem;
				font-weight: 700;
			}
		}
	}
}

#packages{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #F7F7F7;
	padding-bottom: 3rem;
	
	.titleContainer{
		max-width: 68%;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: left;

		h3{
			font-family: $fontTitle;
			font-size: 1.5rem;
			margin-top: 4rem;
			margin-bottom: 1rem;
		}	

		p{
			font-family: $fontText;
			font-size: .9rem;
			line-height: 1.4rem;
			color: $darkGrey;
		}
	}

	.container{
		max-width: 68%;

			.package{
				padding: 1rem 0 2.5rem;

				img{
					max-width: 100%;
				}

				.packText{
					max-width: 90%;

					h6{
						font-family: $fontText;
						font-size: 1rem;
						line-height: 1.5rem;
						margin: 1.5rem 0;
					}

					.date{
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						max-width: 150px;

						p{
						 	margin: 0;
						 	font-size: .7rem;
						 	font-weight: 700;
						 	color: #000;
						}
					}

					p{
						font-family: $fontText;
					 	margin: 1rem 0;
					 	font-size: .9rem;
					 	line-height: 1.4rem;
					}

					button{
						margin: .5rem 0 0 0;
						font-family: $fontText;
						font-size: .9rem;
						font-weight: 700;
						min-width: 100px;
						color: #fff;
						padding: .8rem 1.5rem;
						border: 1px solid white;
						background-color: $orange;
						cursor: pointer;
						outline:none;
						-webkit-transition: all ease-out 1s;
					    -moz-transition: all ease-out 1s;
					    -o-transition: all ease-out 1s;
					    transition: all ease-out 1s;
					}

					button:hover{
						background-color: #e62e00;
					}
				}
			}
		}
	}

#experiences{
	background-image: url("../img/sea.jpg");
	background-size: cover;
	background-position: 0% 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem 0 5rem;

	.container{
		width: 80%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h6{
			font-family: $fontText;
			font-size: .7rem;
			color: #fff;
			padding-top: 1rem;
			margin-bottom: .5rem;
			color: #fff;
			letter-spacing: 1px;
		}

		h2{
			font-family: $fontTitle;
			font-size: 2.2rem;
			margin-top: .2rem;
			margin-bottom: 4rem;
			color: #fff;
		}

		.exp{
			width: 100%;
			border-top: 1px solid white;
			padding: .5rem 0;

			ul{
			
				list-style: none;
				padding-left: 0;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;

				li{	
					font-family: $fontTitle;
					font-size: .8rem;
					font-weight: 100;
					padding: 0 ;
					max-width: 80%;
					color: #fff;
				}

				.titulo{
					font-size: 1.3rem;
					font-weight: 700;
					max-width: 10%;
				}

				.guided{
					display: none;
				}
			}
		}

		#lastul{
			border-bottom: 1px solid #fff;
		}

		button{
			margin: 4rem 0 0 0;
			font-family: $fontText;
			font-size: .8rem;
			min-width: 150px;
			color: #fff;
			padding: 1rem 2rem;
			border: 1px solid white;
			background-color: transparent;
			cursor: pointer;
			outline:none;
			-webkit-transition: all ease-out 1s;
		    -moz-transition: all ease-out 1s;
		    -o-transition: all ease-out 1s;
		    transition: all ease-out 1s;
		}

		button:hover{
			background-color: #fff;
			color: #000;
			font-weight: 700;
		}
	}
}

#blog{
	display: flex;
	flex-direction: column;
	align-items: center;

		h6{
			font-family: $fontText;
			font-size: .8rem;
			margin-top: 4rem;
			margin-bottom: .3rem;
		}

		h3{
			font-family: $fontTitle;
			font-size: 1.5rem;
			margin: 0;
		}

	#blogBox{
		max-width: 68%;

	

		#smallBox{
			margin: 4rem 0;

			img{
				max-width: 100%;
			}

			#textBlog1{

				h6{
					font-family: $fontTitle;
					font-size: 1.2rem;
					line-height: 1.7rem;
					margin-top: .5rem;
				}

				#faceDate{
					display: flex;
					align-items: center;


					img{
						border-radius: 50%;
						height: 40px;
						width: auto;
					}

					#dateBox{
						margin-left: 10px;
						margin-top: .7rem;

						p{
							font-family: $fontText;
							font-size: .8rem;
							font-weight: 700;
							margin: .5rem 0;
						}

						#fecha{
							font-weight: 100;
							color: $darkGrey;
						}
					}
				}
			}
		}

		#bigBox{

		margin-bottom: 4rem;

			img{
				max-width: 100%;
			}

			#textBlog2{

				h6{
					font-family: $fontTitle;
					font-size: 1.2rem;
					line-height: 1.7rem;
					margin-top: .5rem;
				}

				#faceDate2{
					display: flex;
					align-items: center;


					img{
						border-radius: 50%;
						height: 40px;
						width: auto;
					}

					#dateBox2{
						margin-left: 10px;
						margin-top: .7rem;

						p{
							font-family: $fontText;
							font-size: .8rem;
							font-weight: 700;
							margin: .5rem 0;
						}

						#fecha2{
							font-weight: 100;
							color: $darkGrey;
						}
					}
				}
			}
		}
	}	
}



@media screen and (min-width: 600px) { 

	#discover{

		#gallery{
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin-bottom: 4rem;
			max-width: 68%;

			.container{

				max-width:	100%;

				img{
					max-width: 100%;
				}
			}
		}
	}
}

@media screen and (min-width: 768px) { 

	#packages{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #F7F7F7;
		padding-bottom: 5rem;
		
		.titleContainer{
			width: 68%;
			display: flex;
			flex-direction: column;
			align-items: start;


			h3{
				font-family: $fontTitle;
				font-size: 2rem;
				margin-top: 7rem;
				margin-bottom: 1rem;
			}	

			p{
				font-family: $fontText;
				font-size: .9rem;
				line-height: 1.4rem;
				color: $darkGrey;
				max-width: 55%;
			}
		}

	.container{
		width: 68%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

			.package{
				width: 47.5%;
				padding: 1rem 0 2.5rem;

				img{
					max-width: 100%;
				}

				.packText{
					max-width: 90%;

					h6{
						font-family: $fontText;
						font-size: 1rem;
						line-height: 1.5rem;
						margin: 1.5rem 0;
					}

					.date{
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						max-width: 150px;

						p{
						 	margin: 0;
						 	font-size: .7rem;
						 	font-weight: 700;
						 	color: #000;
						}
					}

					p{
						font-family: $fontText;
					 	margin: 1rem 0;
					 	font-size: .9rem;
					 	line-height: 1.4rem;
					}

					button{
						margin: .5rem 0 0 0;
						font-family: $fontText;
						font-size: .9rem;
						font-weight: 700;
						min-width: 100px;
						color: #fff;
						padding: .8rem 1.5rem;
						border: 1px solid white;
						background-color: $orange;
						cursor: pointer;
						outline:none;
						-webkit-transition: all ease-out 1s;
					    -moz-transition: all ease-out 1s;
					    -o-transition: all ease-out 1s;
					    transition: all ease-out 1s;
					}

					button:hover{
						background-color: #e62e00;
					}
				}
			}
		}
	}
	
	#experiences{

		.container{
			width: 600px;
		}
	}
}


@media screen and (min-width: 1024px) { 
	
	#cabecera{
		background-image: url(../img/1.jpg);
		background-size: cover;
		background-position: 10% 80%;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		nav{
			justify-content: space-between;
			align-items: center;
			max-width: 900px;
			padding-top: 2rem;


			h5{
				padding-left: 2rem;
			}

			ul{
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				padding-top: 1rem;
				padding-right: 6rem;

				li{
					font-size: .8rem;
					color: lightgrey;
					padding: 0 1rem;
					list-style: none;

					a{
						text-decoration: none;
						color: inherit;
					}
				}

				.active{
					color: #fff;
					font-weight: 700;
				}
			}

			i{
				display: none;
			}
		}

		.container{

			h3{
				font-size: 1.3rem;
			}

			h1{
				font-size: 6rem;
			}

			button{
				font-size: 1.3rem;
			}
		}
	}

	#tours{
		padding-bottom: 5rem;

		#imageBox{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 5rem 0;

			h3{
				font-size: 2.5rem;
				padding-bottom: 1rem;
			}

			.container{
				width: 90%;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;

				img{
					max-width: 33%;
					border-radius: 1.5%;
					padding: 0 10px;
				}

				#pic1{
					display: flex;
				}

				#pic2, #pic3{
					display: flex;

				}

				i{
					display: none;
				}

				#arrowLeft{
					padding-right: 10px;
				}

				#arrowRight{
					padding-left: 10px;
				}
			}
		}


		#textBox{
			margin: 0 auto;
			width: 95%;

			.container{
				width: 100%;
				display: flex;
				flex-direction: row;
				margin:0 auto;

				#boxText1{
					width: 33%;
					margin: 0 10px;
				}

				#boxText2{	
					width: 33%;
					margin: 0 10px;
				}

				#boxText3{
					width: 33%;
					margin: 0 10px;
				}

				h5{
					font-size: 1.2rem;
					margin: .3rem 0;
				}

				ul{
					padding-left: 0;
					margin-bottom: 3rem;

					i{
						color: $orange;
					}

					li{
						font-size: 1rem;
						list-style: none;
						line-height: 1.6rem;
						padding: .3rem 0;
						color: $darkGrey;
					}
				}
			}
		}
	}

	#discover{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		#tituloBox{

		max-width: 69%;

			h3{
				font-size: 2.5rem;
				line-height: 2.9rem;
				text-align: center;
			}
		}

		.container{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			max-width: 85%;

			#textBox1{

				padding: 10px 30px;

				p{
					font-size: 1rem;
					line-height: 1.5rem;
					color: $darkGrey;
				}
			}

			#textBox2{

				padding: 10px 30px;

				p{
					font-size: 1rem;
					line-height: 1.5rem;
					color: $darkGrey;
				}
			}
		}

		#gallery{
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin-bottom: 4rem;
			max-width: 80%;

			.container{

				max-width:	100%;

				img{
					max-width: 48%;
				}
			}
		}
	}

	#customers{
		padding: 4rem 0;
		margin-top: 2.2rem;
	}

	#experiences{

		.container{
			max-width: 900px;
		}
	}

	#blog{
		margin-bottom: 7rem;


		h6{
			font-size: .7rem;
			margin-top: 6rem;
			margin-bottom: .3rem;
		}

		h3{
			font-size: 2.2rem;
			margin: 0;
		}

		#blogBox{
			width: 90%;
			max-width: 100%;
			display: flex;
			flex-direction: row;
			align-items: start;
			justify-content: space-between;
			margin-top: 4rem;

			#smallBox{
				margin: 0;
				width: 37%;

				img{
					max-width: 100%;
				}

				#textBlog1{

					h6{
						font-family: $fontText;
						font-size: .9rem;
						line-height: 1.7rem;
						margin-top: .5rem;
					}

					#faceDate{

						#dateBox{

							p{
								font-size: .8rem;
							}

							#fecha{
								font-weight: 100;
								color: $darkGrey;
							}
						}
					}
				}
			}

			#bigBox{

				margin-bottom: 0;
				width: 60%;
			}
		}	
	}
}

@media screen and (min-width: 1200px) { 
	
	#cabecera{

	max-height: auto;

		nav{
			padding-top: 3rem;
			max-width: 1100px;

			h5{
				padding-left: 0;
				font-size: 2.5rem;
			}
		}

		#titleBox{
			min-height: 40rem;
			display: flex;


		.container{
			min-height: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding-top: 80%;

			h3{
				margin: 0;
				font-family: $fontTitle;
				font-size: .7rem;
				color: #ffff66;
				text-transform: uppercase;
			}

			h1{
				margin: .5rem 0;
				font-family: $fontTitle;
				font-size: 4rem;
				color: #fff;
			}

			button{
				margin: 2rem 0 0 0;
				font-family: $fontTitle;
				font-size: .8rem;
				min-width: 150px;
				}
			}
		}
	}

	#tours{
		padding-bottom: 5rem;
		max-width: 80%;
		margin: 0 auto;

		#imageBox{
			padding: 5rem 0 2rem;

			h3{

			}

			.container{
				width: 90%;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;

				img{
					max-width: 33%;
					border-radius: 1.5%;
					padding: 0 10px;
				}

				#pic1{
					display: flex;
				}

				#pic2, #pic3{
					display: flex;

				}

				i{
					display: none;
				}

				#arrowLeft{
					padding-right: 10px;
				}

				#arrowRight{
					padding-left: 10px;
				}
			}
		}


		#textBox{
			margin: 0 auto;
			width: 95%;

			.container{
				width: 100%;
				display: flex;
				flex-direction: row;
				margin:0 auto;

				#boxText1{
					width: 33%;
					margin: 0 10px;
				}

				#boxText2{	
					width: 33%;
					margin: 0 10px;
				}

				#boxText3{
					width: 33%;
					margin: 0 10px;
				}

				h5{
					font-family: $fontTitle;
					font-size: 1.2rem;
					margin: .3rem 0;
				}

				ul{
					padding-left: 0;
					margin-bottom: 3rem;

					i{
						color: $orange;
					}

					li{
						font-family: $fontTitle;
						font-size: 1rem;
						list-style: none;
						line-height: 1.6rem;
						padding: .3rem 0;
						color: $darkGrey;
					}
				}
			}
		}
	}

	#discover{

		#tituloBox{

			max-width: 50%;

			}

			.container{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				max-width: 1000px;

				#textBox1{

					p{
						font-size: 1rem;
						line-height: 1.5rem;
						color: $darkGrey;
					}
				}

				#textBox2{

					p{
						font-size: 1rem;
						line-height: 1.5rem;
						color: $darkGrey;
					}
				}
			}

			#gallery{
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				margin-bottom: 4rem;
				max-width: 950px;

				.container{

					max-width:	100%;

					img{
						max-width: 48%;
					}
				}
			}	
		}

	#customers{
		padding-bottom: 5.5rem;

		.container{
			max-width: 50%;

			h3{
				font-family: $fontTitle;
				font-size: 2rem;
				color: #252525;
				letter-spacing: 1px;
			}

			#textContainer{
				max-width: 100%;
				p{
					font-size: 1rem;
					line-height: 1.8rem;
				}

				#customerID{
					padding-top: .4rem;
					font-size: .8rem;
					font-weight: 700;
				}
			}
		}
	}

	#packages{
		padding-bottom: 5rem;
		
		.titleContainer{
			min-width: 1000px;

			h3{
				margin-top: 7rem;
				margin-bottom: 1rem;
			}	

			p{
				max-width: 450px;
			}
		}

	.container{
		min-width: 1000px;

			.package{
				width: 23%;

				.packText{


					.date{
						max-width: 150px;
					}
				}
			}
		}
	}

	#experiences{

		.container{

			h6{
				font-size: .9rem;
			}

			h2{
				font-size: 3.6rem;
				margin-bottom: 6rem;
			}

			.exp{

				ul{
					li{
						font-size: 1rem;
					}
				}
			}
		}
	}

	#blog{
		margin-bottom: 7rem;

		h6{
			font-size: .9rem;
			margin-top: 8rem;
		}

		h3{
			font-size: 2.6rem;
		}

		#blogBox{
			width: 1000px;
			max-width: 1000px;
		}	
	}
}


@media screen and (min-width: 1440px) { 
	
	#cabecera{

	max-height: auto;

		nav{
			padding-top: 3rem;
			max-width: 1200px;
			}
		}

		#tours{
			padding-bottom: 5rem;
			max-width: 1100px;
			margin: 0 auto;

			#imageBox{
				padding: 5rem 0 2rem;
				width: 100%;

				h3{

				}

				.container{
					width: 90%;
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;

					img{
						max-width: 33%;
						border-radius: 1.5%;
						padding: 0 10px;
					}

					#pic1{
						display: flex;
					}

					#pic2, #pic3{
						display: flex;
					}

					i{
						display: none;
					}

					#arrowLeft{
						padding-right: 10px;
					}

					#arrowRight{
						padding-left: 10px;
					}
				}
			}


			#textBox{
				margin: 0 auto;
				width: 90%;

				.container{
					width: 100%;

					h5{
						font-family: $fontTitle;
						font-size: 1.2rem;
						margin: .3rem 0;
					}

					ul{
						padding-left: 0;
						margin-bottom: 3rem;

						i{
							color: $orange;
						}

						li{
							font-family: $fontTitle;
							font-size: 1rem;
							list-style: none;
							line-height: 1.6rem;
							padding: .3rem 0;
							color: $darkGrey;
						}
					}
				}
			}
		}

		#discover{

		#tituloBox{

			max-width: 800px;

			}

			.container{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				max-width: 1100px;

				#textBox1{
					width: 45%;


						p{
							font-size: 1rem;
							line-height: 1.5rem;
							color: $darkGrey;
						}
					}

					#textBox2{
						width: 45%;

						p{
							font-size: 1rem;
							line-height: 1.5rem;
							color: $darkGrey;
						}
					}
				}

				#gallery{
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					margin-bottom: 4rem;
					max-width: 1040px;


					.container{

						max-width:	100%;

						img{
							max-width: 48%;
						}
					}
				}		
			}

			#blog{
				margin-bottom: 7rem;

				h6{
					font-size: .9rem;
				}

				h3{
					font-size: 2.6rem;
				}

				#blogBox{
					width: 1000px;
					max-width: 1000px;
				}	
			}		
		}


	@media screen and (min-width: 1600px) { 

		#tours{
			padding-bottom: 5rem;
			max-width: 1200px;
			margin: 0 auto;
		}	
	}
